/* CUSTOM STYLES */

h1,h2,h3,h4,h5{
	text-transform:uppercase;
  font-family: "Norwester",Helvetica,Arial,sans-serif;
}

a:hover{
	text-decoration:none;
}

body{
	padding-top: 50px;
	padding-bottom:0px;
	font-family: 'Fira Sans', sans-serif;
}


/*-- HEADER ---*/

.gb-head{
	display:none;
	background:#999;
  .gb-logo-mobile{
    img{
    	height:100%;
    	width:auto;
    }
  }
  #access{
    .menu{
      ul{
      	list-style:none;
      	margin:0px;
      	padding:0px;
      	text-transform:uppercase;
      	font-family: "Norwester",Helvetica,Arial,sans-serif;
				li{
					a{
						color:white;
						font-size:18px;
					}
				}
      }
    }
  }
}

.gb-sidebar{
	display:none;
	padding-top:15px;
	.widget-area{
		.widget{
			width:100%;
		}
		.gb-sidebar-model-types-links{
			text-align:center;
			margin-bottom: 30px;
			ul{
				list-style:none;
				padding:0px;
				margin:0px;
				display:inline-block;
				text-align:center;
				li{
					display: inline-block;
					padding:5px;
				}
			}
		}
		.gb-sidebar-featured-kits{
			text-align:center;
			margin-bottom: 30px;
			ul{
				list-style:none;
				padding:0px;
				margin:0px;
				display:inline-block;
				text-align:center;
				li{
					a{
						figure{
							padding:5px;
							img{
								width:100%;
								height:auto;
							}
						}
					}
				}
			}
		}
	}

}


/*--- SUBMENU ---*/

.gb-nav-cat{
	list-style:none;
	padding:0px;
	margin:0px;
	overflow:hidden;
  li{
  	padding:10px 0px;
    img{
    	width:100%;
    	height:auto;
    }
  }
}

.gb-search{
	padding:10px 0px;
}


/*--- MAIN CONTENT ---*/


.gb-content-area{
	min-height:800px;
	padding-top:15px;
}


.gb-post-head-image{
	min-height:200px;
	text-align:center;
	overflow:hidden;
	background-position:10% center;
	background-size:auto 400%;
	background-repeat:no-repeat;
}


.gb-post-head-box-art{
	width:100%;
	text-align:center;
  img{
  	width:80%;
  	height:auto;
  }

}

#gb-post-meta-a {
  ul{
  	list-style:none;
  	margin:0px;
  	padding:0px;
    li {
    	width:45px;
    	height:45px;
    	float:left;
    	padding:2px;
      img{
      	width:100%;
      	height:auto;
      }
    }
  }
}

#gb-post-meta-b {
  .gb-post-meta-builder{
  	float:left;
  	width:100%;
  	margin-bottom:0px;
  	text-align:right;
  }
  .gb-post-meta-post{
  	float:left;
  	width:100%;
  	margin-bottom:0px;
  	text-align:right;
  }
}


.gb-post-content{
	/* wordpress classes */
	padding:20px 0;
	.aligncenter{
		margin: 0 auto;
	}
	.gallery{
		&.gallery-columns-1{

		}
		&.gallery-columns-2{

		}
		&.gallery-columns-3{

		}
		&.gallery-columns-4{

		}
		.gallery-item{
			.wp-caption-text{
				font-size:0.8em;
				text-align:center;
				padding-left:10%;
				padding-right:10%;
				width:auto;
			}
		}
	}
	.wp-caption{
		.wp-caption-text{
			margin-bottom: 30px;
			font-size:0.8em;
			text-align:center;
		}
	}

	.gb-post-head-box-art{
		margin: 10px 0;
	}
	p{
		font-size: 15px;
		font-weight: 400;
		/*
    img{
    	width:20%;
    	height:auto;
    	margin:0px 5px 5px 0px;
    }
		*/
		a{
			img{
				max-width: 100%;
				height: auto;
				&.aligncenter{
					margin: 0 auto;
					display: block;
				}
			}
		}
  }
  .gb-model-stats{
    #gb-builder-verdict-a{

    }
    #gb-builder-verdict-b{

    }
    #gb-builder-gallery{
      .glrypic{
      	position:relative;
      	width:100%;
        p{
        	position:absolute;
        	display:none;
        	width:100%;
        	height:auto;
        	padding:10px;
        	bottom:2px;
        	left:0px;
        	background-color:rgba(0,0,0,0.5);
        	color:#fff;
        	margin:0px;
        }
        img{
        	width:100%;
        	height:auto;
        	margin:2px 0px;
        }
        &:hover{
          p{
          	display:block;
          }
        }
      }
    }
    ul{
    	list-style:disc;
    }
  }
  .lead{
  	margin-top:10px;
  }
  //wordpress gallery
  .gallery{
    &.gallery-columns-3{
      .gallery-item{
        width: 33.3%;
        img{
          max-width:100%;
        }
      }
    }
  }
}


.gb-main-content{
	.post{
		&.category-tools, &.category-supplies{

		}
	}
  h1{
    span{
      font-family: "Tahoma", arial, sans-serif;
      font-weight: normal;
      font-size: 0.5em;
      color: silver;
      text-transform: none;
    }
  }
  .gb-post-list{
  	//float:left;
  	//width:100%;
    article{
			padding-left: 0px;
			padding-right: 0px;
    }
    .gb-post-heading{
    	min-height:auto;
      h2{
      	margin-bottom: 0px;
      	margin-top:5px;
      }
    }
  }
}



/* for inner pages (Search, archive) */
/*
.gb-main-content .gb-post-list  .post,
.gb-main-content .gb-post-list .model,
.gb-main-content .gb-post-list-alt .model{ width:100%;height:auto;float:left;padding:5px 0px;margin:0px;}
.gb-main-content .gb-post-list .post .gb-post-container,
.gb-main-content .gb-post-list .model .gb-post-container,
.gb-main-content .gb-post-list-alt .model .gb-post-container{ background:#ddd;height:100%;padding-top:10px;padding-bottom:10px; }
.gb-main-content .gb-post-list .post .gb-post-container:nth-child(even),
.gb-main-content .gb-post-list .model .gb-post-container:nth-child(even),
.gb-main-content .gb-post-list-alt .model .gb-post-container:nth-child(even){ background:#eee; }
*/


/* for home page */
/*
.home .gb-main-content .gb-post-list .post,
.home .gb-main-content .gb-post-list .model{ width:100%;height:auto;float:left;padding:5px 0px;margin:0px}
.home .gb-main-content .gb-post-list .post .gb-post-container,
.home .gb-main-content .gb-post-list .model .gb-post-container,
.home .gb-main-content .gb-post-list-alt .model .gb-post-container{ background:#ddd;height:100%;padding-top:10px;padding-bottom:10px; }
.home .gb-main-content .gb-post-list .post .gb-post-container:nth-child(even),
.home .gb-main-content .gb-post-list .model .gb-post-container:nth-child(even),
.home .gb-main-content .gb-post-list-alt .model .gb-post-container:nth-child(even){ background:#eee; }
*/


.entry-meta{
	border-top:1px solid #ccc;padding: 10px 0px;
}

.entry-meta span.label a{
	color:#fff;
}


#gb-builder-turntable{
	max-width:80%;
	margin:0 auto;
}


.gb-head{

}

.gb-main{
	.gb-page{
		&.row{
			background:white;
			margin-left:0px;
			margin-right:0px;
		}
		.gb-aside-nav{

		}
		.gb-content-area{
			.gb-main-content{
				.gb-post-list{
					article{
						//figure: mobile suit art
						&.post{
							.gb-post-container{
								.gb-mobile-suit-art{
									position:relative;
									overflow:hidden;
									img{
										width:100%;
										height:auto;
									}
									.spinner{
										display:none;
									}
									&.loading{
										.spinner{
											display:block;
										}
									}
								}
							}
						}
						&.mobile-suit{
							.gb-post-container{
								.gb-mobile-suit-art{
									position:relative;
									overflow:hidden;
									img{
										width:100%;
										height:auto;
									}
									.spinner{
										display:none;
									}
									&.loading{
										.spinner{
											display:block;
										}
									}
									.kits-bar{
										&--horizontal{
											list-style:none;
											padding:5px;
											margin:0px;
											position: absolute;
											bottom: 0px;
											height:35%;
											min-width: 100%;
											background:rgba(0,0,0,0.5);
											overflow-x: scroll;
											overflow-y: hidden;
											.kits{
												width: auto;
												height:100%;
												list-style:none;
												padding-left:0;
												.kit{
													height:100%;
													display:block;
													float:left;
													a{
														height:100%;
														display:inline-block;
														img{
															width:auto;
															height:100%;

														}
													}
												}
											}
										}
										&--vertical{
											padding:5px;
											margin:0px;
											position: absolute;
											bottom: 0px;
											right:0px;
											width:30%;
											height:100%;
											background:rgba(0,0,0,0.6);
											overflow-x: hidden;
											overflow-y: auto;

											&::-webkit-scrollbar-track
											{
												-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
												background-color: #cccccc;
											}

											&::-webkit-scrollbar
											{
												width: 10px;
												background-color: #cccccc;
											}

											&::-webkit-scrollbar-thumb
											{
												background-color: #444444;
												border: 0px solid #555555;
											}

											.kits{
												width:100%;
												list-style:none;
												padding-left:0;
												display: block;
												float: left;
												.kit{
													height:100%;
													display:block;
													float:left;
													margin-bottom:10px;
													&:last-child{
														margin-bottom:0px;
													}
													a{
														width:100%;
														display:inline-block;
														img{
															width:100%;
															height:auto;

														}
													}
												}
											}
										}
									}
									.indicator-down{
										position:absolute;
										bottom: 0px;
										color:white!important;
										z-index:1;
										font-size:30px;
										right:10%;
										display:none;
									}
								}
							}
						}
						&.model-kit{
							//figure: model kit box art
							.gb-post-container{
								.gb-model-kit-boxart{
									width:100%;
									height:150px;
									background-size: 120%;
									background-position: center 20%;
									background-repeat: no-repeat;
									&.b-loaded{
										.spinner{
											display:none!important;
										}
									}
								}
							}
						}
						&.model{
							//figure: model kit box art
							.gb-post-container{
								.gb-model-kit-boxart{
									width:100%;
									height:150px;
									background-size: 120%;
									background-position: center 20%;
									background-repeat: no-repeat;
								}
							}
						}
					}
				}
			}
		}
	}
	&.template-category{
		.gb-page{
			.gb-aside-nav{

			}
			.gb-content-area{
				.gb-main-content{
					margin-left: 0px;
					margin-right: 0px;
					.post{
						margin-bottom: 30px;
						header{
							.gb-post-title{
								font-size: 16px;
								h1{
									a{
										display:block;
										line-height:1;
										min-height: 2em;
									}
								}
							}
							.gb-post-head-image{
								height:300px;
								.bgimg{
									width:100%;
									height:100%;
									background-size: cover;
									background-position: center top;
								}
							}
							.lead{
								font-size:16px;
								margin:10px 0;
								p{
									min-height: 100px;
								}
							}
							#gb-post-meta-b{
								.gb-post-meta-post{
									width:100%;
									text-align:left;
								}
							}
						}
					}
				}
			}
		}
	}
}


.gb-foot{
	//z-index:999;
}







/*--- VIDEO CONTENT ---*/

.template-content-video .wrapper-video, .ms-wrapper-video{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin:20px 0px;
}

.template-content-video .wrapper-video iframe, .ms-wrapper-video iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}





//====loading anim html style====
.spinner {
	margin: 100px auto 0;
	width: 70px;
	text-align: center;
	position: absolute;
top: 0px;
left: 50%;
transform: translateX(-50%);
	> div {
		width: 18px;
		height: 18px;
		background-color: #333;

		border-radius: 100%;
		display: inline-block;
		-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
		animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	}
	.bounce1 {
		-webkit-animation-delay: -0.32s;
		animation-delay: -0.32s;
	}
	.bounce2 {
		-webkit-animation-delay: -0.16s;
		animation-delay: -0.16s;
	}
}
@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% {
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}


.gb-post-head-image{
	&.b-lazy{
		&.b-loaded{
			.spinner{
				display:none!important;
			}
		}
	}
}


/*----====== WORDPRESS CLASSES =======----*/


/*--== SIDEBAR ==--*/

.widget{
	float:left;
	width:100%;
	padding:0px;
	margin:0px;
	.widget-title{

	}
	ul{
		list-style:none;
		padding:0px;
		margin:0px;
		li{
			padding:0px;
			margin:0px;
		}
	}
}


.wp_list_table #thumbnail{
	width:100px;
}

p .alignright{
		float:right;
}

p .alignleft{
		float:left;
}
/*--== COMMENTS ==--*/

.form-allowed-tags{
	display:none;
}


/*- depth 1 -*/
.comment-list{list-style:none; margin:0px; padding:0px; }
.comment-list  > .comment{ list-style:none; margin:0px; padding:10px; }
.comment{
	padding: 20px 10px 10px 10px;
width: 100%;
background: #fff;
}

.depth-1 .comment{
	padding: 20px 10px 20px 10px;
}

.depth-2 .comment, .depth-3 .comment, .depth-4 .comment{
	padding: 10px 10px 10px 10px;
}

.depth-2 .comment{
	background:#eee;
}

.depth-3 .comment{
	background:#ddd;
}

.depth-4 .comment{
	background:#ccc;
}

/*- children -*/
.comment-list .children > .comment{ list-style:none; margin:0px; padding:0px; }
.comment-list .comment .children{ list-style:none; margin:0px; /*padding:10px;padding-right: 0px;*/ padding:0px 0px 0px 20px;background:#eee; }

/*- avatar -*/
.comment-avatar{ float:left; width:auto; margin-right:5px; }



/*- evens and odds -*/
.comment-list > .thread-even{ background:#eee; }
.comment-list > .even .comment-avatar{ float:right; margin-right:0px; margin-left:5px; }
.thread-even > .comment-avatar{ float:right; margin-right:0px; margin-left:5px; }
.children > .even .comment-avatar{ float:right; margin-right:0px; margin-left:5px; }

.comment-list > .thread-odd{ background:#eee; }
.comment-list > .odd .comment-avatar{ float:left; margin-right:5px; margin-left:0px; }
.thread-odd > .comment-avatar{ float:left; margin-right:5px; margin-left:0px; }
.children > .odd .comment-avatar{ float:left; margin-right:5px; margin-left:0px; }



/*=== PLUGIN STYLES ===*/

.reel{
	margin:10px 0px!important;
	display:inline;
	text-align:center;
	margin:0 auto;
}








/* ================== CUSTOM MEDIA QUERIES STYLES ============ */

/* ========= Phones ========= */
@media(max-width:767px){

	.gb-head{
		display:block;
		width:100%;
		float:left;
		min-height:50px;
		position:fixed;
		top:0px;
		z-index:999;
	}

	.gb-head .gb-logo{
		display:none;
	}

	.gb-head .gb-logo-mobile{
		height: 50px;
		width: 35%;
	}

	.gb-head .gb-logo-mobile span{
		padding: 15px;
		/* float: left; */
		display: block;
	}

	.gb-head .gb-header-mobile{
		display:block;
		position:relative;
	}

	.gb-head .gb-header-mobile .gb-buttons-mobile{
		position:absolute;
		padding:5px;
		top:0px;
		right:0px;
	}

	.gb-head .gb-header-mobile .gb-buttons-mobile button{
		width:40px;
		height:40px;
	}

	.gb-head #access .menu ul{
		background:#ccc;
		position:absolute;
		top:50px;
		width:100%;
		display:none;
	}

	.gb-head #access .menu ul li{
		width:100%;
	}

	.gb-foot{
		width:100%;
		position:relative;
		float:left;
		min-height:50px;
		background:#999;
	}



	.gb-nav-cat{
		display:block;
	}

	#toggle-show-series{
		display:none;
	}

	.show-half{
		height:auto;
	}

	#gb-post-meta-a ul li {
		width:auto;
		height:40px;
		float:left;
		padding:2px;
	}

	#gb-post-meta-a ul li img{
		width:auto;
		height:100%;
	}

	#gb-post-meta-b .gb-post-meta-builder{
		text-align:left;
	}

	#gb-post-meta-b .gb-post-meta-post{
		text-align:left;
	}

	.gb-post-head-image{
		min-height:300px;
		text-align:center;
		overflow:hidden;
		background-position:10% center;
		background-size:125%;
		background-repeat:no-repeat;
	}

	.gb-post-heading{
		min-height:0px;
	}

	.gb-post-title{
		text-align:center;
	}

	/* for inner page (search, archive) */
	.gb-main-content .gb-post-list .post, .gb-main-content .gb-post-list .model{
		width:100%;
		height:auto;
	}

	/* for home page */
	.home .gb-main-content .gb-post-list .post, .home .gb-main-content .gb-post-list .model{
		width:100%;
		height:auto;
	}

	.home  .gb-main-content .gb-post-list-alt .model{ width:100%;height:300px; }

	#gb-builder-turntable{
		max-width:90%;
		margin:0 auto;
	}
}


/* ========= iPad, Tablets ======== */
@media(min-width:768px){

	.gb-head{
		display:block;
		width:100%;
		float:left;
		min-height:50px;
		position:absolute;
		top:0px;
		z-index:999;
	}

	.gb-head .gb-logo{
		float:left;
		height:50px;
		width:16.66%;
		background:#fff;
	}

	.gb-head .gb-logo img{
		width:auto;
		height:100%;
	}

	.gb-head .gb-header-mobile{
		display:none;
	}

	.gb-head #access .menu ul{
		position:relative;
		height:100%;
		width:auto;
		top:0px;
		float:left;
		display: block;
	}

	.gb-head #access .menu ul li{
		position:relative;
		top:0px;
		height:100%;
		width:auto;
		padding:15px;
		float:left;
	}


	.gb-post-head-image{
		min-height:300px;
		text-align:center;
		overflow:hidden;
		background-position:10% center;
		background-size:100%;
		background-repeat:no-repeat;
	}

	.gb-post-title{
		text-align:left;
	}

	.gb-nav-cat{
		display:block;
	}

	#toggle-show-series{
		display:none;
	}

	.show-half{
		height:auto;
	}

	#gb-post-meta-a ul li {
		width:auto;
		height:45px;
		float:left;
		padding:1px;
	}

	#gb-post-meta-a ul li img{
		width:auto;
		height:100%;
	}




	/* for inner pages (search, archive) */
	.gb-main-content .gb-post-list .post, .gb-main-content .gb-post-list .model{
		//width:100%;
	}

	/* for home page */
	.home .gb-main-content .gb-post-list .post, .home .gb-main-content .gb-post-list .model{
		//width:100%;
	}

	#gb-builder-turntable{
		max-width:90%;
		margin:0 auto;
	}
}


/* ========= Laptop, Netbooks ======== */
@media(min-width:992px){

	body{
		padding-top:0px!important;
	}

	.gb-sidebar{
		display:block;
		//position:absolute;
		//top:65px;right:0px;height:100%;
		background:#ccc;
		//width:350px;
	}

	.gb-main{
		display:block;
		width:100%;
		padding:0px;
		position:relative;
	}


	.gb-main .gb-page{
		//margin-right:350px;
		//margin-left:0px;

	}

	.gb-head{
		width:100%;
		min-height:65px;
		position:relative;
		zoom: 1;

	}

	.gb-head #access .menu ul{
		display: block!important;
	}

	.gb-head .gb-logo{
		height: 65px;
	}

	.gb-head .gb-logo img{
		width:auto;
		height:100%;
	}

	#toggle-show-series{
		display:block;
		padding:10px 0px 0px 0px;
		text-align:center;
		cursor:pointer;
	}

	.show-half{
		height:0px;
	}

	.gb-nav-cat{
		text-align:justify;
	}

	.gb-nav-cat:after{
		content: '';
	  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
	  display: inline-block;
	}

	.gb-nav-cat li{
		display: inline-block;
		float: none;
		width: 19%;
		margin: 0px;
		padding: 10px 0px;
		text-align: center;

	}


	.gb-post-head-image{
		min-height:300px;
		text-align:center;
		overflow:hidden;
		background-position:center 30%;
		background-size:auto;
		background-repeat:no-repeat;
	}


	/* for inner pages (search, archive) */
	.gb-main-content .gb-post-list .post, .gb-main-content .gb-post-list .model{
		//width:100%;
	}

	/* for home page (search, archive) */
	.home .gb-main-content .gb-post-list .post, .home .gb-main-content .gb-post-list .model{
		//width:100%;
	}

	#gb-builder-turntable{
		max-width:80%;
		margin:0 auto;
	}

}


/* ========= Desktop Large Monitors ======== */



@media(min-width:1200px){

	body{
		background:#aaa;
	}

	.gb-main{
		position:relative;
		width:90%;
		float:right;
	}


	.gb-head{
		width:10%;
		min-height:100%;
	}

	.gb-head .gb-logo{
		width:100%;
		height:auto;
		padding:10px 0px;
	}

	.gb-head .gb-logo img{
		width:90%;
		height:auto;
	}

	.gb-head .gb-logo span{
		text-align:center;
	}

	.gb-sidebar{
		top:0px;
	}

	.gb-head #access .menu ul li{
		width:100%;
		padding:15px;
		float:left;
	}

	#toggle-show-series{
		display:none;
	}

	.show-half{
		height:auto;
	}

	.gb-nav-cat{
		text-align:left;
		display:block;

	}

	.gb-nav-cat li{
		display:block;
		float:left;
		width:100%;
		padding:10px;

	}



	.gb-post-head-image{
		min-height:300px;
		text-align:center;
		overflow:hidden;
		background-position:center 30%;
		background-size: 100%;
		background-repeat:no-repeat;
	}





	#gb-post-meta-a ul{
		list-style:none;
		margin:0px;
		padding:0px;
	}

	#gb-post-meta-a ul li {
		width:auto;
		height:45px;
		float:right;
		padding:2px;
	}

	#gb-post-meta-a ul li img{
		width:auto;
		height:100%;
	}

	#gb-post-meta-b{

	}

	#gb-post-meta-b .gb-post-meta-builder{
		width:50%;
		text-align:left;
	}

	#gb-post-meta-b .gb-post-meta-post{
		width:50%;
		text-align:right;
	}


	/* for inside pages (archive, search) */
	//.gb-main-content .gb-post-list .post, .gb-main-content .gb-post-list .model{ width:100%; }

	/* for home page */
	//.home .gb-main-content .gb-post-list .post{ width:100%; }

	//.home .gb-main-content .gb-post-list .model{ width:100%; }
	//.home  .gb-main-content .gb-post-list-alt .model{ width:100%; }

	.home .remove-padding-left {padding-left:0px;}
	.home .remove-padding-left .gb-post-list-alt .model {padding-left:0px;}

	#gb-builder-turntable{
		max-width:70%;
		margin:0 auto;
	}

}


@media(min-width:1366px){
	.gb-nav-cat li{
		width:100%;
	}


	.gb-post-head-image{
		min-height:325px;
	}


	/* for inside pages (archive, search) */
	.gb-main-content .gb-post-list .post,
	.gb-main-content .gb-post-list .model,
	.gb-main-content .gb-post-list-alt .model{ width:100%; }

	/* for home page */
	.home  .gb-main-content .gb-post-list .post{ width:100%; }

	.home  .gb-main-content .gb-post-list .model{ width:100%; }
	.home  .gb-main-content .gb-post-list-alt .model{ width:100%;}

	.home .remove-padding-left {padding-left:0px;}
	.home .remove-padding-left .gb-post-list-alt .model {padding-left:0px;}
}

@media(min-width:1600px){

	#gb-builder-turntable{
		max-width:60%;
		margin:0 auto;
	}

	.gb-nav-cat li{
		width:50%;
	}
}




.gallery-wrapper{
	ul{
		list-style:none;
		padding:0;
		text-align: center;
		li{
			vertical-align: top;
			display: inline-block;
			width:150px;
			margin:5px;
		}
	}
}
