.template-content-category-preview{

  .gb-post-title{
    font-size: 32px;
    h1{
      a{
        display:block;
        line-height:1;
        min-height: 2em;
      }
    }
  }

}


.content-preview{

  .gb-post-title{
    font-size: 32px;
    h2{
      a{
        display:block;
        line-height:1;
        min-height: 2em;
      }
    }
  }

}